body {
  margin: 0;
  font-family: Comic Sans MS, cursive;
  background: linear-gradient(135deg, #00e5ff, #4facfe);
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0,0,0,0.2);
}

.logo {
  font-size: 28px;
}

#search {
  width: 40%;
  padding: 8px;
  border-radius: 10px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 15px;
  padding: 20px;
}

.game {
  text-align: center;
  cursor: pointer;
}

.game img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: black;
}

.modalTop {
  display: flex;
  justify-content: space-between;
  background: #111;
  color: white;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 90%;
  border: none;
}

/* MUSIC */
.musicBar {
  text-align: center;
  padding: 10px;
}

.musicBar input {
  width: 50%;
  padding: 8px;
  border-radius: 10px;
}

.song {
  cursor: pointer;
  background: rgba(255,255,255,0.3);
  margin: 5px auto;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

.musicPlayer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: black;
  color: white;
}

.hidden {
  display: none;
}

/* REQUEST */
.panel {
  position: fixed;
  right: 10px;
  top: 80px;
  background: white;
  padding: 10px;
}
